// // Top nav
#top {
  background-color: map-get($project-palette, pink);

  // Nav Links
  .main-nav {
    background-image: url('../images/white_marble_texture.jpg');
    text-transform: uppercase;
    padding-bottom: 6em;
    padding-top: 1em;

    li > a, li > a:hover, li > a:active, li > a:visited {
      text-decoration: none;
      padding-left: 1.4em;
      padding-right: 1.4em;
    }
  }

  // Home Logo
  .bigLogo {
    margin-top: -5em;
    width: 10em;
  }
}

// Header
.header {
  @include sawtooth(map-get($project-palette, pink),map-get($project-palette, graylite));
}

// Each section is a cell. Different HTML elements can use this.
.cell {
  padding-top: 2em;
  padding-bottom: 6em;

  // background-color: map-get($project-palette, pink);
  // min-height: 55%;
  // min-height: 55vh;
  //
  // @media screen and (min-height: 900px) {
  //     min-height: 480px;
  // }

  &.panel {
    background-color: map-get($project-palette, pink);
  }
}

// Works
#works {
  .cell {
    background-color: map-get($project-palette, graylite);
    // @include sawtooth(map-get($project-palette, graylite),#fff);
    //
    &:nth-child(even) {
      background-color: #fff;
    //   @include sawtooth(#fff,map-get($project-palette, graylite));
    }
  }
}

.gallery {
  margin-top: 2em;
}

// Buttons
.button {
  display: block;
  border: 1px solid $body-font-color;
  width: 80%;
  margin: 4em auto;
  text-decoration: none;
}

// Social icons
.social {
    ul {
        // @include list-unstyled();
        margin-top: 1rem;
    }

    li {
        display: inline-block;
        // margin-left: 0.5em;
        // margin-right: 0.5em;
    }

    .symbol, .symbol::before {
        font-size: 3em;
    }

    a, a:hover, a:active, a:visited {
      text-decoration: none;
    }
}

// Footer
.footer {
  background-image: url('../images/white_marble_texture.jpg');
  padding-top: 1.5em;
  padding-bottom: 3.5em;

  & ul {
    margin-bottom: 0;
  }
}
