// // Top nav

.masthead {
  @include flex-grid-row(null,expand);
  @include flex-align(center);
  background-color : map-get($project-palette, pink);

  // Nav Links
  .main-nav {
    @include flex-grid-column(12);

    padding-top      : 1em;
    padding-bottom   : 6em;
    background-image : url('../images/white_marble_texture.jpg');
    text-transform   : uppercase;

    > ul {
      @include menu-base;
      @include flex-align(center);
    }

    li > a,
    li > a:active,
    li > a:hover,
    li > a:visited {
      text-decoration : none;
    }

    li > a:hover {
      font-weight: bold;
    }
  }
  // Home Logo
  .logo {
    img {
      width      : 10em;
      margin-top : -5em;
    }
  }
}

// Cells are re-usable sections.

.cell {
  @include flex-grid-row(null,expand);
  @include flex-align(center);
  padding-top      : 4em;
  padding-bottom   : 6em;

  .content {
    @include flex-grid-column(10);

    @include breakpoint(large) {
      @include flex-grid-column(8);
    }

    @include breakpoint(xlarge) {
      @include flex-grid-column(7);
    }
  }
}

// Works

#works {
  .cell {
    @include   sawtooth(map-get($project-palette, graylite));

    &:nth-child(even) {
      @include   sawtooth(#fff);
      // Customize carousel arrows

      .slick-next::before,
      .slick-prev::before {
        color : map-get($project-palette, graylite);
      }
    }
  }
}

.work-gallery {
  @include flex-grid-column(12);

  @include breakpoint(medium) {
    @include flex-grid-column(10);
  }

  @include breakpoint(large) {
    @include flex-grid-column(8);
  }

  margin-top : 1em;

  .gallery-item {
    margin-top : 1.5em;
  }
}

// Slick Carousel Settings

// No top margin if slick is loaded

.slick-slide {
  margin-top : 0;
}

.slick-prev::before, .slick-next::before {
  font-size: 36px;
}

// Size needs to match the arrow
.slick-arrow {
  width: 24px;
  height: 36px;
}

// See more

#see_more {
  @include sawtooth(map-get($project-palette, pink));
}

// Pink panels

.panel {
  padding-top    : 4em;
  padding-bottom : 4em;
  background: map-get($project-palette, pink);
  border-bottom  : 1px solid darken(map-get($project-palette, pink), 3%);
}

// Buttons

.button {
  display         : block;
  width           : 100%;
  margin          : 4em auto;
  border          : 1px solid $body-font-color;
  text-decoration : none;

  @include breakpoint(medium){
    display: inline-block;
    padding-left: 6em;
    padding-right: 6em;
    width: auto;
  }

  @include breakpoint(large){
    padding-left: 1em;
    padding-right: 1em;
  }
}

// Footer

.footer {
  @include flex-grid-row(null,expand);
  @include flex-align(center);

  padding-top      : 1.5em;
  padding-bottom   : 3.5em;
  background-image : url('../images/white_marble_texture.jpg');
}

// Social icons

.social {
  .symbol,
  .symbol::before {
    font-size : 3em;
  }

  a,
  a:active,
  a:hover,
  a:visited {
    text-decoration : none;
  }

  @include menu-base;
  width: auto;
  margin-bottom : 0;
  justify-content: center;

  @include breakpoint(small only) {
    a {
      padding: 0 0.5rem;
    }
  }

  @include breakpoint(large) {
    li {
      font-size: 1.4em;
    }
  }
}
