// // Top nav

#top {
  // Nav Links
  background-color : map-get($project-palette, pink);

  .main-nav {
    padding-top      : 1em;
    padding-bottom   : 6em;
    background-image : url('../images/white_marble_texture.jpg');
    text-transform   : uppercase;

    li > a,
    li > a:active,
    li > a:hover,
    li > a:visited {
      padding-right   : 1.4em;
      padding-left    : 1.4em;
      text-decoration : none;
    }
  }
  // Home Logo

  .bigLogo {
    width      : 10em;
    margin-top : -5em;
  }
}

// Header

.header {
  background-color : map-get($project-palette, pink);
}

// Cells are re-usable sections. Default color is pink.
.cell {
  padding-top    : 4em;
  padding-bottom : 6em;
  background-color : map-get($project-palette, pink);
}

// Works

#works {
  .cell {
    @include sawtooth(map-get($project-palette, graylite));

    &:nth-child(even) {
      @include sawtooth(#fff);
    }
  }
}

.gallery {
  margin-top : 2em;
}

// See more
#see_more {
  @include sawtooth(map-get($project-palette, pink));
}

// Buttons

.button {
  display         : block;
  width           : 80%;
  margin          : 4em auto;
  border          : 1px solid $body-font-color;
  text-decoration : none;
}

// Footer

.footer {
  padding-top      : 1.5em;
  padding-bottom   : 3.5em;
  background-image : url('../images/white_marble_texture.jpg');

  & ul {
    margin-bottom : 0;
  }
}

// Social icons

.social {
  ul {
    // @include list-unstyled();
    margin-top : 1rem;
  }

  li {
    display : inline-block;
    // margin-left: 0.5em;
    // margin-right: 0.5em;
  }

  .symbol,
  .symbol::before {
    font-size : 3em;
  }

  a,
  a:active,
  a:hover,
  a:visited {
    text-decoration : none;
  }
}
