@mixin sawtooth($color) {
  // Sawtooth border based on this: http://bradsknutson.com/blog/css-zig-zag-border/
  position   : relative;
  width      : 100%;
  background : $color;

  &::before {
    content         : "";
    display         : block;
    position        : absolute;
    top             : -25px;
    left            : 0;
    width           : 100%;
    height          : 50px;
    background      : linear-gradient(
                        45deg,
                        transparent 33.333%,
                        $color 33.333%,
                        $color 66.667%,
                        transparent 66.667%
                      ),
                      linear-gradient(
                        -45deg,
                        transparent 33.333%,
                        $color 33.333%,
                        $color 66.667%,
                        transparent 66.667%
                      );
    background-size : 50px 100px;
    // Default Gradient
  }
}
