@charset "UTF-8";

// Colors

$project-palette: (
  pink: #ffe5e4,
  black: #333,
  gray: #666,
  graylite: #CED0CD
);

$foundation-palette: (
  primary: #333,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);

$body-background: map-get($project-palette, gray);
$body-font-color: map-get($project-palette, black);

// Buttons
$button-background: transparent;
$button-color: $body-font-color;

// 4. Base Typography
// ------------------
$body-font-family: 'acremedium', Helvetica, Roboto, Arial, sans-serif;
$paragraph-lineheight: 1.8;
$anchor-text-decoration: underline;
$header-font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$header-font-weight: 800;
$header-lineheight: 1.1;
$header-margin-bottom: 1.4rem;
$header-sizes: (
  small: (
    'h1': 36,
    'h2': 26,
    'h3': 20,
    'h4': 18,
    'h5': 17,
    'h6': 16,
  ),
  medium: (
    'h1': 55,
    'h2': 42,
    'h3': 30,
    'h4': 25,
    'h5': 20,
    'h6': 16,
  ),
);

//
// Slick-Gallery Customizations
//
$slick-font-family: "FontAwesome";
$slick-font-path: "../fonts/";
$slick-loader-path: "../images/";
$slick-prev-character: "\f053";
$slick-next-character: "\f054";
