@import url('https://fonts.googleapis.com/css?family=Lato:900');
@font-face {
    font-family: 'acremedium';
    src: url('../fonts/acre_medium/acre-medium-webfont.eot');
    src: url('../fonts/acre_medium/acre-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/acre_medium/acre-medium-webfont.woff2') format('woff2'),
         url('../fonts/acre_medium/acre-medium-webfont.woff') format('woff'),
         url('../fonts/acre_medium/acre-medium-webfont.ttf') format('truetype'),
         url('../fonts/acre_medium/acre-medium-webfont.svg#acremedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

// monosocialicon
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
}
