@charset 'utf-8';

// Import fonts
@import 'type';

// Import FontAwesome
@import 'font-awesome';

// Import Project Variables
@import 'mixins';

// Imports Foundation stuff
@import 'settings';
@import 'foundation';
@import 'foundation-loader';

// Import Slick
@import 'slick.scss';
@import 'slick-theme.scss';

// Import SMACSS parts
@import 'base';
@import 'module';
@import 'layout';

// Testing classes (remove these)

// * {
//   border: 1px solid green;
// }
