extends /_layouts/default.pug

block content
	section
		header.cell.panel
			.content
				h1 Impressum
				p
					strong Angaben gemäß § 5 TMG:
				p
					| Graphic Designer
					br
					| Zuzanna Rajewska
				p
					strong Postanschrift:
					| Oranienstr. 6
					br
					| 10997 Berlin
				p
					strong Kontakt:
				p
					| Telefon: 176 3459-7760
					br
					| E-Mail: talk@rajewska.com

