extends /_layouts/default.pug

block content
  header#top
    nav.main-nav
      ul.menu.align-center
        li #[a(href="#about") About]
        li #[a(href="#works") Works]
        li #[a(href="#contact") Contact]

    img(src="images/logo-blackcircle.svg").bigLogo

  section#about
    header.row.align-center.cell.color1.sawtooth-1-2
      .small-10.columns
        h1 Hello
        p My name is Zuzanna Rajewska. I'm a designer with a background in Fine Arts and a great understanding of different styles and trends.
        p I designed for clients like Microsoft or eBay as well as for alternative rock bands. If you want a minimalistic and modern looking design - feel free to contact me!

        p: a(href="").button Download my resume

  section#works
    article.row.align-center.cell.color2.sawtooth-2-3
      .small-10.columns
        h2 Microsoft Build conference
        p Designs for printed and digital materials for Microsoft Build conference in Warsaw, Poland (2016). Project includes interior design elements, lanyards, posters, streeming graphics etc. I had to strictly follow brand and event guidelines.

    article.row.align-center.cell.color3.sawtooth-3-2
      .small-10.columns
        h2 Watches for Avon
        p Watches designs with leopard pattern motive. Shape of the watch case and theme was specified in the client’s brief.

    article.row.align-center.cell.color2.sawtooth-2-3
      .small-10.columns
        h2 Cover for Partia
        p Cover design for legendary Warsaw’s alternative band Partia (1993-2003). Record consists a live recordings of the last band’s concert. Image used on the cover comes from Karel Saudek - czech comic book illustrator. The goal was to design a cover similar to previous ones, but also make it look more modern.

    article.row.align-center.cell.color3.sawtooth-3-2
      .small-10.columns
        h2 Banners for eBay
        p Banners are made according to new brand guide lines (color groups, font designed specially for eBay, not posed and simple mood images, products on a plain background).

    article.row.align-center.cell.color2.sawtooth-3-1
      .small-10.columns
        h2 Moodboards for Oriflame
        p Moodboards for possible fashion trends in 2015 and examples of products (jewellery, watches, bags and accesories).

  section#see_more.row.align-center.color1.cell
    .small-10.columns
      h2 See More
      p Too see more projects visit my Behance profile.

      a(href="http://behance.com/rajewska", title="Behance").button Behance

  section#contact.row.align-center.color1.cell
    .small-10.columns
      h2 Let's Work Together
      p If you like my works and feel like you want to work with me, feel free to let me know about it! I’m open for different projects.

      a(href="").button Contact Me
