extends /_layouts/default.pug

block content
  header#top.row.align-center
    nav.main-nav.small-12.column
      ul.menu.align-center
        li #[a(href="#about") About]
        li #[a(href="#works") Works]
        li #[a(href="#contact") Contact]

    .logo.small-6.medium-2.columns
      img(src="images/logo-blackcircle.svg").bigLogo

  section#about
    header.row.align-center.cell.header
      .small-10.columns
        h1 Hello
        p My name is Zuzanna Rajewska. I'm a Berlin-based freelance designer with a background in Fine Arts, passionate and inspired by minimal and modern design. I have an eye for color, styles and trends.
        p I've done work for some big brands like Microsoft and eBay, as well as renowned underground bands and venues. Projects include design of event materials, icons, banners, posters, album artwork and more.
        p Like what you see? #[a(href="mailto:zrajewska@gmail.com") Let's work together!]

        p: a(href="").button Download my resume

  section#works
      article.row.align-center.cell
        .small-10.columns
          h2 Microsoft Build conference
          p Designs for printed and digital materials for Microsoft Build conference in Warsaw, Poland (2016). Project includes interior design elements, lanyards, posters, streeming graphics etc. I had to strictly follow brand and event guidelines.

        .small-12.large-10.columns.gallery
          img(src="http://unsplash.it/1024/768")

      article.row.align-center.cell
        .small-10.columns
          h2 Watches for Avon
          p Watches designs with leopard pattern motive. Shape of the watch case and theme was specified in the client’s brief.

      article.row.align-center.cell
        .small-10.columns
          h2 Cover for Partia
          p Cover design for legendary Warsaw’s alternative band Partia (1993-2003). Record consists a live recordings of the last band’s concert. Image used on the cover comes from Karel Saudek - czech comic book illustrator. The goal was to design a cover similar to previous ones, but also make it look more modern.

      article.row.align-center.cell
        .small-10.columns
          h2 Banners for eBay
          p Banners are made according to new brand guide lines (color groups, font designed specially for eBay, not posed and simple mood images, products on a plain background).

      article.row.align-center.cell
        .small-10.columns
          h2 Moodboards for Oriflame
          p Moodboards for possible fashion trends in 2015 and examples of products (jewellery, watches, bags and accesories).

  section#see_more.row.align-center.cell.panel
    .small-10.columns
      h2 See More
      p Too see more projects visit my Behance profile.

      a(href="http://behance.com/rajewska", title="Behance").button Behance

  section#contact.row.align-center.cell.panel
    .small-10.columns
      h2 Let's Work Together
      p If you like my works and feel like you want to work with me, feel free to let me know about it! I’m open for different projects.

      a(href="mailto:zrajewska@gmail.com").button Contact Me

  footer#nav_footer.footer.row.align-center
    .small-10.columns
      ul.social.menu.align-center
        li: a(href="http://behance.com/rajewska", title="Behance") #[span.symbol circlebehance]
        li: a(href="http://pinterest.com/zrajewska", title="Pinterest") #[span.symbol circlepinterest]
        li: a(href="http://instagram.com/hollykitty666", title="Instagram") #[span.symbol circleinstagram]
        li: a(href="http://soundcloud.com/hollykitty", title="Soundcloud") #[span.symbol circlesoundcloud]
        li: a(href="https://www.linkedin.com/in/zuzannarajewska", title="Linkedin") #[span.symbol circlelinkedin]

    //- .small-10.columns
    //-   p copyright 2016 © Zuzanna Rajewska • impressum
