footer#nav_footer.footer
	.columns.small-12
		+socialList()

	.columns.small-12
		p.text-center &copy; 2018 Zuzanna Rajewska, all rights reserved. #[a(href="/impressum") Impressum]

script(type="text/javascript", src="scripts/vendor/jquery.min.js")
script(type="text/javascript", src="scripts/vendor/slick.js")
script(type="text/javascript", src="scripts/main.js")
