footer#nav_footer.footer.row.align-center
  .small-10.columns
    ul.social.menu.align-center
      li: a(href="http://behance.com/rajewska", title="Behance") #[span.symbol circlebehance]
      li: a(href="http://pinterest.com/zrajewska", title="Pinterest") #[span.symbol circlepinterest]
      li: a(href="http://instagram.com/hollykitty666", title="Instagram") #[span.symbol circleinstagram]
      li: a(href="http://soundcloud.com/hollykitty", title="Soundcloud") #[span.symbol circlesoundcloud]
      li: a(href="https://www.linkedin.com/in/zuzannarajewska", title="Linkedin") #[span.symbol circlelinkedin]

script(type="text/javascript", src="scripts/vendor/jquery.min.js")
script(type="text/javascript", src="scripts/vendor/slick.js")
script(type="text/javascript", src="scripts/main.js")
