footer#nav_footer.footer
	ul.social.list-inline.row
		li.small-2.small-offset-1.columns: a(href="http://behance.com/rajewska", title="Behance") #[span.symbol circlebehance]
		li.small-2.columns: a(href="http://pinterest.com/zrajewska", title="Pinterest") #[span.symbol circlepinterest]
		li.small-2.columns: a(href="http://instagram.com/hollykitty666", title="Instagram") #[span.symbol circleinstagram]
		li.small-2.columns: a(href="http://soundcloud.com/hollykitty", title="Soundcloud") #[span.symbol circlesoundcloud]
		li.small-2.columns: a(href="https://www.linkedin.com/in/zuzannarajewska", title="Linkedin") #[span.symbol circlelinkedin]

	p copyright 2016 © Zuzanna Rajewska • impressum

script(type="text/javascript", src="scripts/main.js")
