head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  block title
    title Zuzanna Rajewska

  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // build:base
  // endbuild
  link(rel='stylesheet', href='styles/style.css')
