header#top.masthead
		nav.main-nav
			ul
				li #[a(href="#about") About]
				li #[a(href="#works") Works]
				li #[a(href="#contact") Contact]
		.logo
			a(href="/", title="Zuzanna Rajewska")
				img(src="images/logo-blackcircle.svg")